			<!-- Scripts -->
			<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
			<script src="./js/moment.min.js"></script>
			<script src="http://vjs.zencdn.net/5.10/video.js"></script>
			<script src="./js/Youtube.min.js"></script>
			<script src="./js/dragula.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
			<script src="./js/jquery.webui-popover.min.js"></script>
			<script src="//cdn.jsdelivr.net/emojione/2.2.2/lib/js/emojione.min.js"></script>

			<script src="./js/app.js"></script>
		</body>
	</html>