<!-- Rooms Modal -->
			<div class="modal fade" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="roomModal">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Rooms</h4>
						</div>
						<div class="modal-body">
							Room listing here
						</div>
						<div class="modal-footer">
							<button type="button" id="room-refresh" class="btn btn-primary">Refresh</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
<!-- / Rooms Modal -->