<script id="queueItemTmpl" type="x-tmpl-mustache">
	<li class="list-group-item" data-source="{{ source }}" data-id="{{ id }}">
		<span class="badge">{{ source }}</span>
		{{ title }}
	</li>
</script>

<script id="chatMessageTmpl" type="x-tmpl-mustache">
	<div class="message">
      	<div class="message-user"><h6>{{ id }}:</h6></div>
      	<!-- triple mustache unescapes HTML so image tags can appear -->
      	<div class="message-text">{{{ message }}}</div>
  	</div>
</script>

<script id="avatarTmpl" type="x-tmpl-mustache">
	<div id="{{ userId }}"class="audience-member" style="left: {{ x }}%; top: {{ y }}%; z-index: {{ z }}">
      <img src="./img/avatars/{{ avatar }}_HeadBack.png" class="audience-head" />
      <img src="./img/avatars/{{ avatar }}_BodyBack.png" class="audience-body" />
  </div>
</script>

<script id="roomRowTmpl" type="x-tmpl-mustache">
	<li class="cursor-pointer">
		<div class="row">
			<div class="col-md-10">
				<h5>{{ title }}</h5>
				<span>Hosted by {{ id }}</span>
			</div>
			<div class="col-md-2">
				<button id="join-room-{{ id }}" type="button" class="btn btn-default btn-join-room">Join Room</button>
			</div>
		</div>
		
	</li>

</script>

<script id="popoverTmpl" type="x-tmpl-mustache">
	<ul class="dropdown-menu">
		<li><h6 class="text-center">{{ id }}</h6></li>
		{{#menu}}
	    <li role="separator" class="divider"></li>
	    <li class="text-center"><a href="#">Friend Request</a></li>
	    {{/menu}}
  	</ul>
</script>