<div id="welcome">
  <div class="well">
    <form>
      <legend>PeerTunes</legend>
      
      <div class="form-group">
	<label for="input-username">Username</label>
	<input type="text" class="form-control" id="input-username" placeholder="Avicii">
      </div>
      <button type="button" id="btn-login" class="btn btn-primary">Enter</button>
    </form>
  </div>
</div>
