<% include ./partials/header %>

<div id="main-content">
  <% include ./pages/login %>

  <% include ./pages/lobby %>

  <% include ./pages/room %>
</div>

<!-- Modals -->
<% include ./partials/createRoomModal %>
<% include ./partials/addSongModal %>

<% include ./partials/templates %>

<% include ./partials/footer %>
