body {

  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center top;

}

.sidebar {
  z-index: 150;
}

#video-container {
	width: 419px;
	height: 238px;

	border-style: solid;
	border-width: 3px;
	border-color: #404040;
	background-color: black;

	margin-bottom: 5px;
}

#vid2 {
    position: absolute;
    top: 3px;
}

.full-height {
	height: 100%;
}

#chat .panel-body {
	height: 70%;
	overflow-y: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.vertical-align {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Welcome */

#welcome {
  position: fixed;
  z-index: 999;
  
  /*top: 0px;*/
  top:100%;

  width: 100%;
  height: 100%;

  background-color: #0d0d0d;

  overflow: hidden;

  transition:top 0.5s;
}


/* Moshpit */
#moshpit {
	position: absolute;
	width:95%;
	height:300px;
}
#moshpit .tooltip > .tooltip-inner {
  background-color: #424242;
}
#moshpit .tooltip > .tooltip-arrow {
  border-top-color: #424242;
}

/* audience members */
.audience-member{
	position: absolute;
  width: 98px; /* width of head */
}
.audience-head{
	position:  absolute;
}

.audience-body{
	position: absolute;
    top: 64px;
    left: 23px;
}

/* My Queue */
#my-queue .panel-body{
	padding: 0;
	height: 340px;
  overflow-y: scroll;
}
#my-queue-list{
	padding-left: 0px;
}

/* Video Player */
.video-js.vjs-default-skin .vjs-big-play-button, 
.vjs-icon-pause, .video-js .vjs-play-control,
.vjs-poster,
.vjs-fullscreen-control
{
  display: none !important; 
}
.vjs-progress-control{
  pointer-events: none;
}



/* Headbob CSS3 animation */
.headbob-animation{
  animation: headbobAnimationFrames ease-in-out 1.7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
  -webkit-animation: headbobAnimationFrames ease-in-out 1.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
  -moz-animation: headbobAnimationFrames ease-in-out 1.7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 100%;
  -o-animation: headbobAnimationFrames ease-in-out 1.7s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 100%;
  -ms-animation: headbobAnimationFrames ease-in-out 1.7s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 100%;
}

@keyframes headbobAnimationFrames{
  0% {
    transform:  rotate(0deg) ;
  }
  25% {
    transform:  rotate(15deg) ;
  }
  50% {
    transform:  rotate(0deg) ;
  }
  75% {
    transform:  rotate(-15deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@-moz-keyframes headbobAnimationFrames{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  25% {
    -moz-transform:  rotate(15deg) ;
  }
  50% {
    -moz-transform:  rotate(0deg) ;
  }
  75% {
    -moz-transform:  rotate(-15deg) ;
  }
  100% {
    -moz-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes headbobAnimationFrames {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  rotate(15deg) ;
  }
  50% {
    -webkit-transform:  rotate(0deg) ;
  }
  75% {
    -webkit-transform:  rotate(-15deg) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) ;
  }
}

@-o-keyframes headbobAnimationFrames {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  25% {
    -o-transform:  rotate(15deg) ;
  }
  50% {
    -o-transform:  rotate(0deg) ;
  }
  75% {
    -o-transform:  rotate(-15deg) ;
  }
  100% {
    -o-transform:  rotate(0deg) ;
  }
}

@-ms-keyframes headbobAnimationFrames {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  25% {
    -ms-transform:  rotate(15deg) ;
  }
  50% {
    -ms-transform:  rotate(0deg) ;
  }
  75% {
    -ms-transform:  rotate(-15deg) ;
  }
  100% {
    -ms-transform:  rotate(0deg) ;
  }
}


/* Headnod CSS3 animation */
.head-nod{
  animation: nod-frames linear 0.4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: nod-frames linear 0.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: nod-frames linear 0.4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: nod-frames linear 0.4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: nod-frames linear 0.4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes nod-frames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  50% {
    transform:  translate(0px,10px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes nod-frames{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  50% {
    -moz-transform:  translate(0px,10px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes nod-frames {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  50% {
    -webkit-transform:  translate(0px,10px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes nod-frames {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  50% {
    -o-transform:  translate(0px,10px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes nod-frames {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  50% {
    -ms-transform:  translate(0px,10px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}