<div class="page" id="lobby" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-md-2 hidden-sm"></div>
      <div class="col-md-8 col-sm-12">
        
        <div id="room-list" class="list-group cursor-pointer">

        </div>
      </div>
      <div class="col-md-2 hidden-sm"></div>
    </div>
  </div>
</div>
